* {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
    font-family: Orbitron;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .heading {
    color: #eee;
    font-size: 8vh;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 174, 239, 0.8);
  }