#root {
  margin: 0;
  padding: 2rem;
  text-align: center;
  overflow-x: hidden;
  overflow: hidden;
}

.cameramove {
  position: relative;
  overflow: auto;
  animation: cameramove 5s infinite alternate;
}

@keyframes cameramove {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
 }
}

@font-face {
  font-family: 'BebasN';
  src: url('/fonts/BebasNeue-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('/fonts/Orbitron-VariableFont_wght.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

